# 构建产物
.next
dist
.turbo
out
build
*.tsbuildinfo

# 依赖
node_modules
.pnpm-store

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# 日志
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# 测试覆盖率
coverage

# Prisma
*.db
*.db-journal

# Turborepo
.turbo
